body {
    font-family:Georgia, serif ;
    margin: 0;
    padding: 0;
    background: #fffaf0;
    color: #333;
}
header {
    background: #4a4a4a;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav a {
    margin: 0 1rem;
    color: #f0e68c;
    text-decoration: none;
}

section {
    padding:  2rem;
}

#vlog-posts.post {
    background: #fefefe;
    padding: 1rem;
    margin: 1rem 0;
    border-left: 5px solid #4a4a4a;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #ddd;
}